name: Eval - GSM8K on H100 (PoC)

on:
  workflow_dispatch:
    inputs:
      image:
        description: "Serving image"
        required: false
        type: string
        default: "vllm/vllm-openai:v0.11.0"
      model:
        description: "Model"
        required: false
        type: string
        default: "openai/gpt-oss-120b"
      tp:
        description: "Tensor Parallel Size"
        required: false
        type: string
        default: "4"
      port:
        description: "Server port"
        required: false
        type: string
        default: "8888"
      num_fewshot:
        description: "Fewshot k for GSM8K"
        required: false
        type: string
        default: "5"
      limit:
        description: "Sample limit for GSM8K"
        required: false
        type: string
        default: "200"
  push:
    paths:
      - '.github/workflows/eval-gms8k.yml'
      - '.github/workflows/eval-tmpl.yml'

jobs:
  eval:
    uses: ./.github/workflows/eval-tmpl.yml
    secrets: inherit
    with:
      runner: mi325x-tw_1
      image: ${{ inputs.image || 'rocm/7.0:rocm7.0_ubuntu_22.04_vllm_0.10.1_instinct_20250927_rc1' }}
      model: ${{ inputs.model || 'openai/gpt-oss-120b' }}
      framework: vllm
      precision: fp4
      exp-name: gptoss_gsm8k_poc
      tp: ${{ inputs.tp || '4' }}
      ep: '1'
      dp-attn: false
      port: ${{ inputs.port || '8888' }}
      eval-task: gsm8k
      num-fewshot: ${{ inputs.num_fewshot || '5' }}
      limit: ${{ inputs.limit || '200' }}
